[Graphics]
DisplaySmoothStretch=1
# Display Effect: 0 none, 1 scanlines
DisplayEffect=0
DisplayBorder=0
MaintainAspectRatio=1
RotateScreen=0

[Sound]

[Joystick]

SDLID_1=0
SDLID_2=1
SDLID_3=-1
SDLID_4=-1
QUIT=9
L_1=4
A_1=1
R_1=6
Y_1=3
X_1=2
HOTKEY=3
B_1=0
SELECT_1=8
START_1=9
L_2=4
A_2=1
R_2=6
Y_2=3
X_2=2
B_2=0
START_2=9
SELECT_2=8